   <div class="container">
        <div class="header-main">
            <h1 id="header-main">View Your Horoscope</h1>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card" id="card-saved">
                    <div class="card-title text-center">
                        <h3>Saved Horoscopes:</h3>
                    </div>
                    <div class="card-body" id="saved-scopes">
                    </div>
                </div>
            </div>
            <div class="col-5 offset-1">
                <div class="card" id="today-card">
                    <div class="card-title text-center" id="header-today">
                        <h3>Today's Horoscope:</h3>
                    </div>
                    <div class="card-body text-center" id="today">
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <i class="fas fa-heart" id="heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer text-right">
            <div id="footer-main">
                <a id="logout-link" href="#">Logout</a>
            </div>
        </div>
    </div>



 {{!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/logout">
        Logout
      </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Welcome <span class="member-name"></span></h2>
            </div>
        </div>
    </div> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/members.js"></script>
      <script src="./js/main.js"></script>