/* .container {
    max-width: 1024px;
} */

#header-main {
    text-align: center;
    font-style: italic
}

body {
    background-image: url("../assets/background.jpg");
    background-size: 1024px 800px;
}

#card-saved {
    height: 600px;
    margin: 20px 20px 20px 0px;
    padding: 10px;
    opacity: .75;
    /* width: 235px; */
}

.card-title {
    border-bottom: 1px solid black
}
#today-card {
    margin: 20px;
    padding: 10px;
    opacity: .75;
    width: 330px;
}
#logout-link {
    color: black
}
#logout-link:hover {
    color: gray
}
form.signup,
form.login {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    #today-card {
        width: auto;
    }
    #card-saved {
        width: auto;
    }
}